.app-wrapper {
  display: grid;

  grid-template-areas: "header header" "nav about";
  /* размещаем площади */

  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1.5fr 10.5fr;
  /* всего 12 кусков */
  
  
}

.header {
  grid-area: header;
  background-color:aquamarine;
  display: flex;
  align-items: center;
  
}

.header__logo {
  width: 4%;
  border-radius: 30%;
  justify-content: flex-start;
  margin-left: 1%;
}

.nav {
  padding: 10% 0;
  grid-area: nav;
  background-color:burlywood;
}

.nav a {
  display: block;
  text-align: center;
}

.about {
  grid-area: about;  
  position: relative;
}

.about__pict {
  display: block;
  width: 70%;
  margin: 0 auto;
  background-color: bisque;
  border-radius: 2%;  
}