
:root {
  --main-fontSize: 20px;
  --small-margin: 10px;  
}


.app-wrapper {
  display: grid;

  grid-template-areas: "header header" "nav about";
  /* размещаем площади */

  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1.5fr 10.5fr;
  /* всего 12 кусков */
  grid-gap: 2%; 
  
}

.app-wrapper-content {
  grid-area: about;
  background-color:aquamarine;  
}